*{
    margin: 0px;
    background-color: #ffff;

}

.formulario{
    background-color: #c22323;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 50px;
    min-width: 30%;
    min-width: 30;
}

label{
    width: 160px;
}





